* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(225, 221, 217);
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-auto-rows: 220px;
  gap: 10px;
  margin: auto;
  position: relative;
  width: 680px;
  margin-top: 35px;
}

.cell {
  background-color: rgb(163, 143, 227);
}

.symbol {
  color: rgb(225, 221, 217);
  font-size: 150px;
  text-align: center;
  line-height: 220px;
}

.banner {
  position: absolute;
  background-color: rgb(91, 146, 128, 0.7);
  width: 1200px;
  height: 400px;
  margin-left: -270px;
  margin-top: 150px;
}

.banner h1 {
  color: white;
  text-align: center;
  line-height: 400px;
  font-size: 70px;
}
